
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";  
}
body{
    background: teal;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    position: fixed;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgb(45, 45, 45);
}
.logo{
    font-size: 50px;
    user-select: none;
}
.logo i{
    font-family:"poppins";
    font-style: normal;
    font-size: 25px;
    padding:2px;
}
.navbar{
    margin-top: 3%;
}
.navbar a{
    border: 2px solid transparent;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color:#000;
    position: relative;
    font-size: 20px;
    font-weight: 550;
    font-family: "poppins";
    padding-inline: 10px;
    margin-left: 3px;
    transition-duration: 0.5s;
}
.navbar a:hover{
    border: 2px solid white ;
}
.navbar .register{
    padding: 2px;
    border: 3px solid white;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-size: 1opx;
    transition-duration: 0.5s;
}
.navbar .register a{
    font-size: 20px;
    background: transparent;
    padding-inline: 8px;
    border: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.5s;
}
.navbar .register:hover{
    background-color: #fff;
    border-color: #000;
}
.navbar .register a:hover{
    color: #000;
}
